
.main{

}
.inner{
    margin-left:20%;
    margin-right:20%;
    margin-top:1%;

    border: 1px solid #eee;
}
.input_block{
    background-color: white;
}
.header{
   padding-top:3%;
    font-size:28px;

    text-align:center;
    color: #3270a5;
}
.head_text{
    line-height:36px;
    color: #3270a5;
    font-size:20px;
    border-left: 5px solid #3270a5;
    padding-left:1%;
    margin-bottom:0;
    margin-top:3%;
    background: #fafafa;
}
.text{
    margin-top:3%;
    margin-left:4%;
    resize:none;    /*让用户不可更改大小*/
    border:1px solid #eee;
    border-radius:5px;
    /*设置文本框阴影*/
    -webkit-box-shadow:2px 2px 2px #eee;
    -moz-box-shadow:2px 2px 2px #eee;
    box-shadow:1px 1px 1px #6B6B6B;

}
.judge_btn{
    margin-left:71%;
    margin-top:1%;
    margin-bottom:1%;
}
.judge_table{
    border:1px solid #6B6B6B;
}
.judge_detail{
    padding: 3%;
    overflow: hidden;
    height: auto;
    background-color: #fff;
}
.inner_text{
    font-size:20px;
    color:#6495ED;
}
.detail-info-right {
    padding: 8px 0;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: -1px;
    margin-right: -1px;
}
.detail-info-left {
    padding: 8px 0;
    border: 1px solid #eee;
    margin-bottom: -1px;
    margin-right: -1px;
}
.title-area {
    color: #a2a2a2;
    padding: 0;
    width: 25%;
    margin-right: 10px;
    text-align: right;
    margin-left: 10px;
}
.info-item {
    color: #3270a5;
}
.show_fatiao{
    display:none;
    border:1px solid #eee;
    margin-left:2%;
    padding-left:2%;
    width:96%;
    height:100%;
    font-size:18px;
    color:#6495ED;
}
